
@{
    ViewBag.Title = "Sample";
}

<h2>Sample</h2>

<br />
<h3>Form with Razor Syntax</h3>
@Html.Label("First Name")
@Html.TextBox("Name")
@Html.RadioButton("Gender","Male") Male
@Html.RadioButton("Gender", "Female") Female